<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904581381315-kn2da8l3ud3engkhn0jd82oqmdd4q8mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904581381315-kn2da8l3ud3engkhn0jd82oqmdd4q8mt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904581381315-r5ukdkn5q021nd73infvp2fhkn6jdt75.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4te00HNBwBdGoKLWmEUDDw4ezExavGwY</string>
	<key>GCM_SENDER_ID</key>
	<string>904581381315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nuha</string>
	<key>PROJECT_ID</key>
	<string>nuha-financial</string>
	<key>STORAGE_BUCKET</key>
	<string>nuha-financial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904581381315:ios:2dac1077922eb44fe7b676</string>
</dict>
</plist>